@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf');
}

p {
  font-family: 'Minecraft';
  text-align: left;
  text-color: "white";
}

h1 {
  font-family: 'Minecraft';
  text-align: left;
  text-color: "white";
}

