@font-face {
  font-family: 'Minecraft';
  src: url('Minecraft.ttf');
}

p {
font-family: 'Minecraft';
text-align: left;
color: "white";
}

h1 {
font-family: 'Minecraft';
text-align: left;
color: "white";
}
